<div class="bg-gray-100">
   <app-cash-flow-header [userName]="userName" (filtersChanged)="applyFilters($event)" />

   <div class="max-w-6xl mx-auto">
      <div class="min-h-screen">
         <!-- CONTEÚDO -->
         <div class="p-6">
            <!-- CARDS -->
            <div class="grid grid-cols-3 gap-6 mb-10">
               <div class="bg-white p-5 rounded-xl shadow-sm border">
                  <p class="text-gray-500 text-xs mb-4">SALDO ATUAL</p>
                  <h2 class="text-2xl font-bold text-gray-600">{{ currentBalance | currency:'BRL' }}</h2>
               </div>
               <div class="bg-white p-5 rounded-xl shadow-sm border">
                  <p class="text-gray-500 text-xs mb-4">ENTRADAS</p>
                  <h2 class="text-2xl font-bold text-green-700">{{ totalIncome | currency:'BRL' }}</h2>
               </div>
               <div class="bg-white p-5 rounded-xl shadow-sm border">
                  <p class="text-gray-500 text-xs mb-4">SAÍDAS</p>
                  <h2 class="text-2xl font-bold text-red-600">{{ totalOutcome | currency:'BRL' }}</h2>
               </div>
            </div>
            <!-- AÇÕES -->
            <div class="flex justify-between items-center mb-4">
               <div class="bg-gray-200 p-1 rounded-xl inline-flex gap-1">
                  <button (click)="select('todas')" [class.bg-white]="isActive('todas')"
                     [class.shadow-sm]="isActive('todas')" class="px-4 py-1 rounded-xl">
                     Todas
                  </button>

                  <button (click)="select('entradas')" [class.bg-white]="isActive('entradas')"
                     [class.shadow-sm]="isActive('entradas')" class="px-4 py-1 rounded-xl text-gray-600">
                     Entradas
                  </button>

                  <button (click)="select('saidas')" [class.bg-white]="isActive('saidas')"
                     [class.shadow-sm]="isActive('saidas')" class="px-4 py-1 rounded-xl text-gray-600">
                     Saídas
                  </button>
               </div>
               <div class="flex gap-2">
                  <button class="bg-green-600 text-white px-4 py-2 rounded font-semibold text-sm">
                     Excel
                  </button>
                  <button (click)="openTransactionModal()"
                     class="bg-yellow-400  px-4 py-2 rounded font-semibold text-sm">
                     + Nova Movimentação
                  </button>
               </div>
            </div>
            <!-- TABELA -->
            <div class="bg-white rounded-xl shadow-sm border overflow-hidden">
               <table class="w-full text-xs">
                  <thead class="bg-gray-100 text-gray-500">
                     <tr>
                        <th class="p-3 text-left">DATA</th>
                        <th class="p-3 text-left">DESCRIÇÃO</th>
                        <th class="p-3 text-left">PAGAMENTO</th>
                        <th class="p-3 text-left">VALOR</th>
                     </tr>
                  </thead>

                  <tbody>

                     <tr *ngFor="let transaction of filteredTransactions" class="border-t hover:bg-gray-50">
                        <td class="p-3">
                           {{ transaction.date | date:'dd/MM/yyyy' }}
                        </td>
                        <td class="p-3">
                           {{ transaction.description }}
                        </td>
                        <td class="p-3">
                           <span *ngIf="transaction.paymentMethod === 'cartao'"
                              class="bg-purple-200 text-purple-700 px-2 py-1 rounded text-xs">
                              {{ transaction.paymentMethod | uppercase }}
                           </span>
                           <span *ngIf="transaction.paymentMethod === 'pix'"
                              class="bg-blue-200 text-blue-700 px-2 py-1 rounded text-xs">
                              {{ transaction.paymentMethod | uppercase }}
                           </span>
                           <span *ngIf="transaction.paymentMethod === 'dinheiro'"
                              class="bg-yellow-200 text-yellow-700 px-2 py-1 rounded text-xs">
                              {{ transaction.paymentMethod | uppercase }}
                           </span>
                        </td>
                        <td class="p-3 font-semibold" [class.text-green-600]="transaction.type === 'entrada'"
                           [class.text-red-600]="transaction.type === 'saida'">
                           {{ transaction.type === 'entrada' ? '+' : '-' }}
                           {{ transaction.value | currency:'BRL' }}
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- MODAL -->
<div *ngIf="isTransactionModalOpen" class="fixed inset-0 bg-black bg-opacity-40 flex items-center justify-center z-50">
   <app-transaction-modal *ngIf="isTransactionModalOpen" (close)="closeTransactionModal()" />
</div>