<div class="bg-gray-100">
   <!-- HEADER -->
   <div class="bg-green-800 text-white p-4 flex justify-between items-center">
      <div>
         <h1 class="text-xl font-semibold">Fluxo de Caixa {{ userName | uppercase }} </h1>
         <p class="text-sm opacity-80">Controle financeiro de entradas e saídas</p>
      </div>
      <div class="flex items-center gap-6">
         <!-- PERÍODO -->
         <div>
            <label class="text-xs text-white block mb-1">Período</label>
            <select class="text-black px-3 py-2 rounded">
               <option>Todos os meses</option>
               <option>Últimos 3 meses</option>
               <option>Últimos 6 meses</option>
               <option>Últimos 12 meses</option>
            </select>
         </div>
         <!-- MÊS -->
         <div>
            <label class="text-xs text-white block mb-1">Mês</label>
            <select class="text-black px-3 py-2 rounded">
               <option *ngFor="let m of availableMonths">
                  {{ m }}
               </option>
            </select>
         </div>
         <!-- ANO -->
         <div>
            <label class="text-xs text-white block mb-1">Ano</label>
            <input type="text" maxlength="2" class="text-black px-3 py-2 rounded w-20" [(ngModel)]="selectedYear"
               (input)="updateMonths()" />
         </div>
         <!-- LOGOUT -->
         <button class="ml-4 text-white text-xl">sair</button>
      </div>
   </div>
   <div class="max-w-6xl mx-auto">
      <div class="min-h-screen">
         <!-- CONTEÚDO -->
         <div class="p-6">
            <!-- CARDS -->
            <div class="grid grid-cols-3 gap-6 mb-10">
               <div class="bg-white p-5 rounded-xl shadow-sm border">
                  <p class="text-gray-500 text-sm mb-4">SALDO ATUAL</p>
                  <h2 class="text-2xl font-bold text-green-600">R$ 1.729,50</h2>
               </div>
               <div class="bg-white p-5 rounded-xl shadow-sm border">
                  <p class="text-gray-500 text-sm mb-4">ENTRADAS</p>
                  <h2 class="text-2xl font-bold text-green-700">R$ 2.050,00</h2>
               </div>
               <div class="bg-white p-5 rounded-xl shadow-sm border">
                  <p class="text-gray-500 text-sm mb-4">SAÍDAS</p>
                  <h2 class="text-2xl font-bold text-red-600">R$ 320,50</h2>
               </div>
            </div>
            <!-- AÇÕES -->
            <div class="flex justify-between items-center mb-4">
               <div class="bg-gray-200 p-1 rounded-xl inline-flex gap-1">
                  <button (click)="select('todas')" [class.bg-white]="isActive('todas')"
                     [class.shadow-sm]="isActive('todas')" class="px-4 py-1 rounded-xl">
                     Todas
                  </button>

                  <button (click)="select('entradas')" [class.bg-white]="isActive('entradas')"
                     [class.shadow-sm]="isActive('entradas')" class="px-4 py-1 rounded-xl text-gray-600">
                     Entradas
                  </button>

                  <button (click)="select('saidas')" [class.bg-white]="isActive('saidas')"
                     [class.shadow-sm]="isActive('saidas')" class="px-4 py-1 rounded-xl text-gray-600">
                     Saídas
                  </button>
               </div>
               <div class="flex gap-2">
                  <button class="bg-yellow-400 px-4 py-2 rounded font-semibold">
                     Exportar Excel
                  </button>
                  <button (click)="openTransactionModal()" class="bg-green-600 text-white px-4 py-2 rounded">
                     + Nova Movimentação
                  </button>
               </div>
            </div>
            <!-- TABELA -->
            <div class="bg-white rounded-xl shadow-sm border overflow-hidden">
               <table class="w-full text-sm">
                  <thead class="bg-gray-100 text-gray-500">
                     <tr>
                        <th class="p-3 text-left">DATA</th>
                        <th class="p-3 text-left">DESCRIÇÃO</th>
                        <th class="p-3 text-left">PAGAMENTO</th>
                        <th class="p-3 text-left">VALOR</th>
                     </tr>
                  </thead>

                  <tbody>
                     <tr class="border-t hover:bg-gray-50">
                        <td class="p-3">13/06/2026</td>
                        <td class="p-3">Serviço prestado - consultoria</td>
                        <td class="p-3">
                           <span class="bg-purple-200 text-purple-700 px-2 py-1 rounded text-xs">
                              CARTÃO
                           </span>
                        </td>
                        <td class="p-3 text-green-600 font-semibold">+R$ 1.200,00</td>
                     </tr>

                     <tr class="border-t hover:bg-gray-50">
                        <td class="p-3">11/06/2026</td>
                        <td class="p-3">Compra de materiais</td>
                        <td class="p-3">
                           <span class="bg-yellow-200 text-yellow-700 px-2 py-1 rounded text-xs">
                              DINHEIRO
                           </span>
                        </td>
                        <td class="p-3 text-red-600 font-semibold">-R$ 320,50</td>
                     </tr>

                     <tr class="border-t hover:bg-gray-50">
                        <td class="p-3">10/06/2026</td>
                        <td class="p-3">Venda de produto - Cliente Maria</td>
                        <td class="p-3">
                           <span class="bg-blue-200 text-blue-700 px-2 py-1 rounded text-xs">
                              PIX
                           </span>
                        </td>
                        <td class="p-3 text-green-600 font-semibold">+R$ 850,00</td>
                     </tr>

                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- MODAL -->
<div *ngIf="isTransactionModalOpen" class="fixed inset-0 bg-black bg-opacity-40 flex items-center justify-center z-50">
   <app-transaction-modal *ngIf="isTransactionModalOpen" (close)="closeTransactionModal()" />
</div>