<div class="bg-white rounded-2xl w-full max-w-lg p-6 shadow-lg">

  <!-- HEADER -->
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-lg font-semibold text-green-800">Nova Movimentação</h2>
    <button (click)="closeTransactionModal()">✕</button>
  </div>

  <!-- TYPE -->
  <div class="flex gap-2 mb-6">

    <button (click)="selectTransactionType('entrada')" [class.bg-green-100]="isTransactionTypeSelected('entrada')"
      [class.border-green-300]="isTransactionTypeSelected('entrada')" class="flex-1 border rounded-lg p-2">
      ↑ Entrada
    </button>

    <button (click)="selectTransactionType('saida')" [class.bg-red-100]="isTransactionTypeSelected('saida')"
      [class.border-red-300]="isTransactionTypeSelected('saida')" class="flex-1 border rounded-lg p-2">
      ↓ Saída
    </button>

  </div>

  <!-- CATEGORY -->
  <div class="mb-4">
    <div class="flex justify-between items-center mb-2">
      <p class="text-sm">Categoria *</p>

      <button *ngIf="!isCreatingCategory" (click)="showCreateCategory()"
        class="w-5 h-5 bg-green-600 text-white rounded flex items-center justify-center">
        +
      </button>

      <button *ngIf="isCreatingCategory" (click)="cancelCreateCategory()"
        class="w-5 h-5 bg-red-600 text-white rounded flex items-center justify-center">
        ×
      </button>

    </div>

    <!-- C. SELECT -->
    <div *ngIf="!isCreatingCategory">
      <app-category-dropdown [categories]="categories" [selectedCategory]="selectedCategory"
        (selectCategory)="selectCategory($event)" (editCategory)="editCategory($event)">
      </app-category-dropdown>
    </div>

    <!-- C. INPUT AND SAVE -->
    <div *ngIf="isCreatingCategory" class="flex gap-1">
      <input [(ngModel)]="newCategory" placeholder="Nova categoria" class="flex-1 px-3 py-2 rounded-lg border" />

      <button (click)="saveCategory()" class="px-4 py-2 bg-green-600 text-white rounded-lg">
        {{ editingCategoryId ? 'Atualizar' : 'Salvar' }}
      </button>
    </div>
  </div>

  <!-- DESCRIPTION -->
  <input [(ngModel)]="description" class="w-full border rounded-lg p-2 mb-4" placeholder="Descrição" />

  <!-- VALUE AND DATE -->
  <div class="flex gap-2 mb-4">
    <input [(ngModel)]="value" type="number" step="0.01" min="0" class="flex-1 border rounded-lg p-2"
      placeholder="Valor R$ *" />
    <input [(ngModel)]="date" class="flex-1 border rounded-lg p-2" type="date" [max]="maxDate" />
  </div>

  <!-- PAYMENT METHOD -->
  <div class="mb-6">
    <p class="text-sm mb-2">Forma de Pagamento *</p>

    <div class="flex gap-2">

      <button (click)="selectPaymentMethod('pix')" [class.bg-blue-100]="selectedPaymentMethod === 'pix'"
        [class.border-blue-500]="selectedPaymentMethod === 'pix'"
        class="flex-1 border-2 rounded-lg text-xs flex items-center justify-center p-2">
        ⚡ PIX
      </button>

      <button (click)="selectPaymentMethod('cartao')" [class.bg-blue-100]="selectedPaymentMethod === 'cartao'"
        [class.border-blue-500]="selectedPaymentMethod === 'cartao'"
        class="flex-1 border-2 rounded-lg text-xs flex items-center justify-center">
        💳 Cartão
      </button>

      <button (click)="selectPaymentMethod('dinheiro')" [class.bg-blue-100]="selectedPaymentMethod === 'dinheiro'"
        [class.border-blue-500]="selectedPaymentMethod === 'dinheiro'"
        class="flex-1 border-2 rounded-lg text-xs flex items-center justify-center">
        💵 Dinheiro
      </button>

      <button (click)="selectPaymentMethod('outro')" [class.bg-blue-100]="selectedPaymentMethod === 'outro'"
        [class.border-blue-500]="selectedPaymentMethod === 'outro'"
        class="flex-1 border-2 rounded-lg text-xs flex items-center justify-center">
        Outro
      </button>
    </div>
  </div>

  <!-- ACTIONS -->
  <div class="grid grid-cols-2 gap-2 mt-5">
    <button (click)="closeTransactionModal()" class="border rounded-lg py-2 h-auto">
      Cancelar
    </button>

    <button (click)="addTransaction()" [disabled]="!canAddTransaction()"
      class="bg-green-700 text-white rounded-lg py-2 disabled:bg-gray-300 disabled:cursor-not-allowed">
      Adicionar
    </button>
  </div>

</div>